@font-face {
    font-family: novacut;
    src: url(/assets/Nova_Cut/NovaCut-Regular.ttf)
}
@font-face {
    font-family: novaflat;
    src: url(/assets/Nova_Flat/NovaFlat-Regular.ttf);
}

@font-face {
    font-family: inter;
    src: url(/assets/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;   
}
    
.headers {
    font-family: novacut;
    background-color: #02062B ;
    background-position: center;
    border-width: 3px;
    color: #EFEFEF ;
    background-image: url("/assets/images/koic.png");
}

.headers h1{
    font-size: 80px;
}

.headers img{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    height: 220px; 
    width: 160 px;
}

.user {
 float:right;
 margin-top: 70px;
 margin-right: 80px;
 color: #EFEFEF;
 background-color:#02062B;
 border:#EFEFEF;
 border-width: 4px;
 border-radius: 180px;
padding-top: 5px;
 border-style: solid;
 cursor:pointer;
}

.user:hover {
    float:right;
    margin-top: 70px;
    margin-right: 80px;
    color:#02062B;
    background-color:#A195F1;
    border:#02062B;
    border-width: 4px;
    border-radius: 180px;
   padding-top: 5px;
    border-style: solid;

}
      
.line {
    background-color: #A195F1;
    font-family: novaflat;
    font-size: 13px;
    text-align: center;
    color: #02062B;
    padding: auto;  
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 30px;
    margin: 10px auto 20px auto;
 }

.button1 a {
    text-decoration: none;
    color: #EFEFEF;
    font-family: inter;
}

 .button1 {
    background-color: #02062B;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 80px;
    margin-top: 15px;
    cursor:pointer;
    transition-duration: 0.3s;
 }

.button1:hover {
    background-color:#ccb0f7;
    color: #02062B;
    font-weight: 500;
    font-family: inter;
    font-size: 20px;   
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-grid{
    display:grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    margin-top:-50px;
}

.content-grid-item1 {
    margin-left: 400px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 5px solid  #02062B;
}

.content-grid-item2 h2 {
    font-family: novacut;
    display: flex;
   flex-direction: row;
   text-align: left;
   margin-left: 10px;
   margin-bottom: 5px;
   
}

.content-grid-item2 a{
    text-decoration: none;
    color: #EFEFEF;
    font-family: inter;
}

.content-grid-item2{
margin-right: 400px;
font-family: inter;
text-align: left;
}

.content-grid-item2 button {
    font-family: inter;
    background-color: #02062B;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    cursor:pointer;
    transition-duration: 0.3s;
}

.content-grid-item2 button:hover {
    background-color:#ccb0f7;
    color: #02062B;
    font-weight: 500;
    font-family: inter;
    font-size: 15px;  
}

.content-grid-item2 p{
    font-size: 20px;
    margin-left: 20px;
}

.button3 a{
    text-decoration: none;
    color: #02062B;
    font-family: novacut;
}   

.art1 img{
    display: block;
    width: 200px;
    height:300px;
    object-fit: fill;  
    margin-left: 200px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 30px;     
}
.art1{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    text-align: center;
    gap: 30px;
    color: white;
    font-size: 50px;
    background-color: #02062B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;
}

.art2 img{
    display: block;
    width: 200px;
    height:300px;
    object-fit: fill;  
    margin-left: 200px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 30px;     
}
.art2{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    text-align: center;
    gap: 30px;
    color: white;
    font-size: 50px;
    background-color: #02062B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;
} 


.art3 img{
    display: block;
    width: 200px;
    height:300px;
    object-fit: fill;  
    margin-left: 200px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 30px;     
}
.art3{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    text-align: center;
    gap: 30px;
    color: white;
    font-size: 50px;
    background-color: #02062B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;
} 

.art4 img{
    display: block;
    width: 200px;
    height:300px;
    object-fit: fill;  
    margin-left: 200px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-top: 30px;     
}
.art4{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    text-align: center;
    gap: 30px;
    color: white;
    font-size: 50px;
    background-color: #02062B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;
} 
.line2 {
    background-color: #A195F1;
    padding: 10px;
    }
    
    .contact{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: -1s0px;
    font-family: inter;
    color: #A195F1;
    font-size: 25px;
    }
    
    .footers {
    font-family: inter;
    background-image: url(/assets/images/img.png);
    color:#EFEFEF;
    font-size: 25px;
    background-size: cover;
    width: 100vw;
    }
    
    .footers-item{  
        padding-left: 60px;
    }
    
    .footers ul {
        padding-left: 20px;
        font-family: novacut;
        font-size: 25px;
        list-style-type: none;
        overflow: hidden;
    }
    .footers li{
        margin-left: 50px;
        float: left;
    }
    .footers a {
        display: block;
        text-decoration: none;
        color:#EFEFEF;
        font-family: novacut;
        cursor:pointer; 
    }
    
    .footers i {
    padding-right: 15px;
    color: #EFEFEF;
    }
    
    .footers a:hover{
    color: #ccb0f7;
    }
    
    .footers p{
        padding-left: 10px;
        font-family: inter;
        font-size: 18px;
    }
    
    .line3 {
        font-family: novaflat;
        font-size: 12px;
        padding: auto;
        text-align: center;
        margin-top: 1px ;
        color:#EFEFEF
    }